.appHeader {
    background-color: #61dafb29;
    min-height: 10vh;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: rgb(23, 39, 141);
    border-style: solid;
    border-color: #61dafb;
    border-radius: 2%;
   
  }
  .appLogo {
    height: 7vmin;
    pointer-events: none;
  }
  