.dashboardContainer{
    height: 1100px;    
}
.ReportsCategory{
    padding-top: 2%;
}

.statsBar{
   padding: 3%; 
}
.statIcon {
    height: 4vmin;
    pointer-events: none;
  }
  .statDiv {  
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    width: 20px;
    background-color: #61dafb29;
    text-align: center;
  }
  
  

