.dashboardContainer{
    height: 80%;    
}
.statsRangeBar{
  height: 5%;    
}
.statsContainer{
    padding-top: 2%;
    height: 100%;  
}
.statsSummary{ 
  height: 30%;  
}
.statsDetail{ 
  height: 500px;  
}

.statsBar{
   padding: 3%; 
}
.statIcon {
    height: 4vmin;
    pointer-events: none;
  }
  .statDiv {  
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    width: 20px;
    background-color: #61dafb29;
    text-align: center;
  }
  
  

