.App {
 
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}


.App-header {
  background-color: #61dafb29;
  min-height: 10vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: rgb(23, 39, 141);
  border-style: solid;
  border-color: #61dafb;
  border-radius: 2%;
 
}

.App-link {
  color:  rgb(23, 39, 141);
  font-size: calc(20px);
}

.Menu{ 
  /*background-color: #cae9f129;
  padding-top: 50px;*/
  height: 30%;

}
.TicketsContent{
   /* background-color: #cae9f129; */ 
    padding-top: 50px;
    width: 80%;
    margin: auto;

}
.AddTicket{ 
   padding-top: 5%;
   width: 30%;
   margin: auto;
  

   
}

